* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Dashboard {
  width: 1440px;
  height: 1482px;
  background: var(--Black-98, #fafafa);
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  display: flex;
}

@supports (font-variation-settings: normal) {
  .Dashboard {
    font-family: InterVariable, sans-serif;
  }
}